<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87796261714-e8ec5ff23ignpjpdiguhi2qegs87ka6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87796261714-e8ec5ff23ignpjpdiguhi2qegs87ka6m</string>
	<key>API_KEY</key>
	<string>AIzaSyDn9kXk9bziRrJE-He76RugzZaoFw5QI2I</string>
	<key>GCM_SENDER_ID</key>
	<string>87796261714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flare.sdk-ios</string>
	<key>PROJECT_ID</key>
	<string>sdk-sample-app-8e22d</string>
	<key>STORAGE_BUCKET</key>
	<string>sdk-sample-app-8e22d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:87796261714:ios:0bea1f1f8cb6fb7167108b</string>
</dict>
</plist>
